<center>
<div class="container">

	<div class="jumbotron">
		<h1>activityOverlord</h1>
		<h2> blah blah.. </h2>
		<a href ="/user/new" class="btn btn-lg btn-success">sign up now!</a>
	</div>
</div>
</center>